.main {
  border: none;
  padding-top: 5%;
  width: 60rem;
  height: 100%;
  color: white;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.title__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.theme__container{
  width: 2rem;
}

.title {
  font-size: var(--text-lg);
  letter-spacing: 1.2rem;
  font-weight: 700;
}

.list__container {
  width: 100%;
  color: black;
  background-color: var(--very-lgt-gray);
  border: none;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.filter__section {
  height: 5rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--light-grayish-blue);
}

.empty_data {
  display: block;
  margin: 6rem 0;
}

.task_count {
  /* font-size: 1.4rem; */
  padding-left: 0.8rem;
}

.filter_actions {
  width: 50%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.clear_task {
  font-weight: 700;
}

.clear_task:hover,
.filter__deactivate:hover {
  color: var(--dark-grayish-blue);
}

.filter_actions span,
.clear_task {
  cursor: pointer;
}

.filter__active {
  color: var(--bright-blue);
}
