.container {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../public/assets/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}